/* .form-section{
    /* width: 200px;
    height: 300px;
    border: 1px solid red; */

.Tool-list {
  height: 50px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 12px 0px 10px 10px;
}
.Search-bar {
  /* border: 1px solid black; */
  width: 30%;
  height: auto;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* margin: 10px; */
}
/* .Filter-bar{
        border: 1px solid black;
        width: 30%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    } */
.Sort-bar {
  /* border: 1px solid black; */
  width: 30%;
  height: auto;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  display: flex;
  justify-content: end;
  margin: 10px 27px 10px 5px;
}
.List-section {
  margin: 60px 14px 10px 10px;
  padding: 70px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}
.sort-icon {
  margin-right: 20px;
}
.filter-icon {
  margin-right: 20px;
}

.sort-icon-fill {
  margin-right: 20px;
  border: 1px solid;
  box-shadow: rgba(10, 10, 10, 10.24) 0px 3px 8px;
}

.filter-icon-fill {
  margin-right: 20px;
  border: 1px solid;
  box-shadow: rgba(10, 10, 10, 10.24) 0px 3px 8px;
}

.main-home {
  margin: 105px;
}

.home-heading {
  border: 1px;
  height: 65px;
  background: #1b1212;
  border-radius: 5%;
  width: 97%;
}

.main-pagination {
  margin: 60px 30px 31px 10px;
}
