.heading-title {
  width: 100%;
  color: white;
}

.heading-name {
  width: 100%;
  margin: 25px 10px 17px 40px;
  font-family: monospace;
  font-size: 30px;
}

.logout {
  margin: 10px 19px 14px 14px;
}

.logout:hover {
  background-color: lightblue;
  border: 1px solid;
  box-shadow: rgba(10, 10, 10, 10.24) 0px 3px 8px;
}
