.side-drawer-new {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f2f2f2;
  transition: left 0.3s ease;
  z-index: 100;
}

.side-drawer-new.open {
  left: 10;
}

.side-drawer-new-closed {
  position: fixed;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #f2f2f2;
  transition: left 0.3s ease;
  z-index: 100;
  background-color: white;
}

.toggle-button {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 60px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
}

.drawer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.drawer-links li {
  margin-bottom: 20px;
  font-size: 18px;
}

.toggle-button-sidebar-closed {
  position: absolute;
  top: 60px;
  left: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.lis-wrapper {
  margin: 185px 19px 27px 20px;
  text-align: center;
  color: black;
}

.li-wrapper {
  margin: 20px 20px 45px 15px;
  border: 1px solid;
  width: 220px;
  list-style: none;
  border-radius: 6%;
  color: black;
}

.li-wrapper:hover {
  border: 1px solid;
  margin: 20px 20px 45px 15px;
  color: white;
  background-color: black;
  width: 220px;
  border-radius: 10%;
}

.li-wrapper-selected {
  border: 1px solid;
  margin: 20px 20px 45px 15px;
  color: white;
  background-color: black;
  width: 220px;
  border-radius: 10%;
}

li {
  margin: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
}
